<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<P>




</P>

            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Type of Leave</label>
                    <select name="" id="" class="form-control" name="type"[(ngModel)]="type">
                        <option value="" class="input form-control">Select</option>
                    <option value="Privilege Leave" class="input form-control">Privilege Leave</option>
                    <option value="Casual Leave" class="input form-control">Casual Leave</option>
                    <option value="Sick Leave" class="input form-control">Sick Leave</option>
                    <option value="Marriage Leave" class="input form-control">Marriage Leave.</option>
                    <option value="Paternity Leave" class="input form-control">Paternity Leave.</option>
                        </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Leave Date</label>
                  <input type="date" name="" id="" class="form-control" name="leaveDate"[(ngModel)]="leaveDate">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">Description</label>
                   <textarea name="" id="" cols="30" rows="10" class="form-control" name="description"[(ngModel)]="description" ></textarea>
                </div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col xxl-12">
                    <button class="btn btn-primary" (click)="readvalues()">Apply </button>
                 </div>
                 
            </div>
        </div>
    </div>
</div>