<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<P>




</P>

            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Type of Leave</label>
                    <select name="" id="" class="form-control">
                        <option value="" class="input form-control">Select</option>
                    <option value="" class="input form-control">Privilege Leave</option>
                    <option value="" class="input form-control">Casual Leave</option>
                    <option value="" class="input form-control">Sick Leave</option>
                    <option value="" class="input form-control">Marriage Leave.</option>
                    <option value="" class="input form-control">Paternity Leave.</option>
                        </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Leave Date</label>
                  <input type="date" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <button class="btn btn-primary">Appaly</button>
                 </div>
            </div>
        </div>
    </div>
</div>